apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nexus

resources:
  - namespace.yaml
  - ingress-route.yaml

helmCharts:
  - name: nexus-repository-manager
    repo: https://sonatype.github.io/helm3-charts/
    releaseName: nexus-repository-manager
    namespace: nexus
    version: 64.2.0
    valuesFile: values.yaml

patches:
  - patch: |-
      - op: add
        path: /metadata/namespace
        value: nexus
    target:
      labelSelector: app.kubernetes.io/instance=nexus-repository-manager
