apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - gh-app-sealed-system.yaml
  - gh-app-sealed-runners.yaml
  - controller-rbac.yaml

helmCharts:
  - name: gha-runner-scale-set-controller
    repo: oci://ghcr.io/actions/actions-runner-controller-charts
    releaseName: arc-controller
    namespace: arc-system
    version: 0.13.0
    valuesFile: controller-values.yaml
    includeCrds: true
  - name: gha-runner-scale-set
    repo: oci://ghcr.io/actions/actions-runner-controller-charts
    releaseName: rr-runner
    namespace: arc-runners
    valuesFile: runners-values.yaml
    version: 0.13.0
    includeCrds: true
