apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

#namespace: agones-system

resources:
  - namespace.yaml

helmCharts:
  - name: agones
    repo: https://agones.dev/chart/stable
    releaseName: agones
    namespace: agones-system
    valuesFile: values.yaml
    version: 1.54.0
